.tp {
    color: #DA70B3;
}

.ty {
    color: #f5f551;
}

.tb {
    color: #3379fa;
}

.tbl {
    color: #4bcfe9;
}

.container-fluid {
    background-color: rgb(24, 24, 24);
    color: white;
}

.tab1 {
    text-indent: 25px;
}

.tab2 {
    text-indent: 50px;
}

.tab3 {
    text-indent: 75px;
}

p {
    margin: 0;
    display: inline-block;
}

.card {
    overflow: auto;
}

.card-body {
    min-width: 535px;
}

.buttonCode {
    width: 100%;
    max-width: 535px;
}

.pointerStep {
    width: 517px;
    height: calc(1rem + 5px);
    background-color: rgba(255, 255, 0, 0.274);
    position: absolute;
    top: calc(-1rem - 5px);
    transition: all 1s ease-out;
    margin-left: -7px;
    border-radius: 8px;
}