<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <div class="row flex-column">
                <div class="col-12 text-center py-3">
                    <p class="pb-4 fw-bold">Objetos en el array:</p>
                    <app-items-in-array [currentLocation]="currentItem"></app-items-in-array>
                </div>
                <div class="col-12 text-center py-3">
                    <div class="row align-items-center">
                        <div class="col-6 text-center">
                            <app-modal-select-items [itemsSelected]="arrayDefaultItems" [disable]="currentItem >= 0" [allItems]="allItems" (newItems)="setNewItems($event)"></app-modal-select-items>
                        </div>
                        <div class="col-6 text-center">
                            <app-modal-item-to-find [allItems]="allItems" [disable]="currentItem >= 0" (indexItem)="selectItemToFind($event)"></app-modal-item-to-find>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center py-3">
                    <div class="card bg-black">
                        <div class="card-body">
                            <div class="pointerStep" id="pointerStep"></div>
                            <p class="card-text">
                                <span class="tb fw-bold">function </span><span class="ty fw-bold">findElementBySequentialSearch</span><span class="tp fw-bold"> (</span><span class="tbl fw-bold"> elementToFind</span>, <span class="tbl fw-bold">array </span><span class="tp fw-bold">) &#123;</span><br>
                                <span class="tb fw-semibold">&nbsp;&nbsp;&nbsp;&nbsp; let </span><span class="tbl">positionElement</span> = -1<br>
                                <span class="tp fw-semibold">&nbsp;&nbsp;&nbsp;&nbsp; for </span><span class="tb fw-semibold">&#40; let </span> <span class="tbl">i</span> = 0;  <span class="tbl">i</span> &#60; <span class="tbl">array.lenght</span>;  <span class="tbl">i</span>++ <span class="tb fw-semibold">&#41; &#123;</span><br>
                                <span class="tp fw-semibold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if </span><span class="ty fw-semibold">&#40;</span> <span class="tbl"> elementToFind </span>===  <span class="tbl">array</span><span class="ty">[</span><span class="tbl">i</span><span class="ty">] </span><span class="ty fw-semibold">&#41; &#123;</span><br>
                                <span class="tbl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; positionElement</span> = <span class="tbl">i</span><br>
                                <span class="tp fw-semibold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; break</span><br>
                                <span class="ty fw-semibold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#125;</span><br>
                                <span class="tb fw-semibold">&nbsp;&nbsp;&nbsp;&nbsp; &#125;</span><br>
                                <span class="tp fw-semibold">&nbsp;&nbsp;&nbsp;&nbsp; return </span><span class="tbl">positionElement</span><br>
                                <span class="fw-bold"><span class="tp">&#125;</span></span><br>
                                @if (itemFinded === true) {
                                    <span class="fw-bold">El objeto fue encontrado en la posicion {{positionWhereItemWasFinded}}</span>
                                }@else if (itemFinded === false) {
                                    <span class="fw-bold">El objeto no ha sido encontrado</span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-sm buttonCode" [ngClass]="currentStep === 0 ? 'btn-success' : 'btn-warning'" [disabled]="indexItemSelectedToFind === -1" (click)="runCode()">
                        @if (currentStep === 0) {
                            Iniciar busqueda
                        }@else {
                            Siguiente paso
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>