<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <div class="row flex-column">
                <div class="col-12">
                    <button class="btn btn-primary btn-sm">Modificar array</button>
                </div>
                <div class="col-12">
                    muestreo de array
                </div>
                <div class="col-12">
                    <p class="fw-bold"><span class="tb">function </span><span class="ty">findElementBySequentialSearch</span><span class="tp"> (</span><span class="tbl"> elementToFind</span>, <span class="tbl">array </span><span class="tp">) &#123;</span></p>
                    <p class="tab1"><span class="tb fw-semibold">let </span><span class="tbl">positionElement</span> = -1</p>
                    <p class="tab1"><span class="tp fw-semibold">for </span><span class="tb fw-semibold">&#40; let </span> <span class="tbl">i</span>=0;  <span class="tbl">i</span> &#60; <span class="tbl">array.lenght</span>;  <span class="tbl">i</span>++ <span class="tb fw-semibold">&#41; &#123;</span></p>
                    <p class="tab2"><span class="tp fw-semibold">if </span><span class="ty fw-semibold">&#40;</span> <span class="tbl"> elementToFind </span>===  <span class="tbl">array</span><span class="ty">[</span><span class="tbl">i</span><span class="ty">] </span><span class="ty fw-semibold">&#41; &#123;</span></p>
                    <p class="tab3"><span class="tbl">positionElement</span> = <span class="tbl">i</span></p>
                    <p class="tab3"><span class="tp fw-semibold">break</span></p>
                    <p class="tab2"><span class="ty fw-semibold">&#125;</span></p>
                    <p class="tab1"><span class="tb fw-semibold">&#125;</span></p>
                    <p class="tab1"><span class="tp fw-semibold">return </span><span class="tbl">positionElement</span></p>
                    <p class="fw-bold"><span class="tp">&#125;</span></p>
                </div>
            </div>
        </div>
    </div>
</div>