.tp {
    color: #DA70B3;
}

.ty {
    color: #f5f551;
}

.tb {
    color: #3379fa;
}

.tbl {
    color: #4bcfe9;
}

.container-fluid {
    background-color: rgb(24, 24, 24);
    color: white;
}

.tab1 {
    text-indent: 25px;
}

.tab2 {
    text-indent: 50px;
}

.tab3 {
    text-indent: 75px;
}

p {
    margin: 0;
    display: inline-block;
}