/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: rgb(24, 24, 24);
    color: white;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 10px;
}

*::-webkit-scrollbar:vertical {
    width: 10px;
}

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb:hover{
    background: rgb(145, 145, 145);
}