<div class="socialMedia d-flex p-3 gap-2">
    <a href="https://github.com/Pana33/AlgBusquedaSecuencial" target="_blank"><img src="../../../../assets/icons/github.svg" alt="Github" height="25" width="25"></a>
    <a href="https://www.instagram.com/alvaroarturorojasbobadilla/" target="_blank"><img src="../../../../assets/icons/linkedin.svg" alt="Instagram" height="25" width="25"></a>
    <a href="https://www.linkedin.com/in/alvaroarturorb/" target="_blank"><img src="../../../../assets/icons/instagram.svg" alt="Instagram" height="25" width="25"></a>
</div>